[submodule "cosmos-sdk"]
path = cosmos-sdk
url = https://github.com/titantkx/cosmos-sdk
[submodule "ibc-go"]
path = ibc-go
url = https://github.com/cosmos/ibc-go
[submodule "wasmd"]
path = wasmd
url = https://github.com/CosmWasm/wasmd.git
[submodule "titan"]
	path = titan
	url = https://github.com/titantkx/titan.git
